@model Enchere.Models.ViewModel.MembreMDP
@using Enchere.Ressource
@{
    ViewBag.Title = "ModifierMDP";
}
<h2>Modifier Mot de passe</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdMembreMDP)
        <div class="form-group">
            @Html.Label(@ResourceView.MDP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MotDePasse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MotDePasse, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label(@ResourceView.Confirmation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Confirmation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Confirmation, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@ResourceView.Sauvegarder class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Accueil", "Index", "Home")
</div>
