@model IEnumerable<Enchere.Models.Evaluation>

@{
    ViewBag.Title = "ViewVendeur";
}


<p>Id du membre: @ViewBag.Id</p>
<p>Code du membre: @ViewBag.Cote</p>
<hr />

    <table class="table">
        <capition>Evaluatons du membre</capition>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cote)
            </th>
            <th>
                @Html.Label("De Memebre:")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentaire)
            </th>
        </tr>
        


        @if (Model != null) {
            foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cote)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdMembreDe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Commentaire)
                    </td>
                </tr>
            }
        } else {
            <caption style="color:red; font-size:1em">Aucune evaluation trouvee</caption>
        }

    </table>
