@using Enchere.Models
@using Enchere.Ressource
@{
    ViewBag.Title = "DerniersProduits";
}

<h2>Derniers Produits publiés les dernières 24h</h2>
<br /><br /><br />

<table class="table">
    <tr>
        <th>@Html.ActionLink(@ResourceView.Numéro, "DerniersProduits", "Account", new { Order = ViewBag.Numero }, null)</th>
        <th>@Html.ActionLink(@ResourceView.nom2, "DerniersProduits", "Account", new { Order = ViewBag.NomOrder }, null)</th>
        <th>@Html.ActionLink("Description", "DerniersProduits", "Account", new { Order = ViewBag.Description }, null)</th>
        <th>@Html.ActionLink(@ResourceView.Inscription, "DerniersProduits", "Account", new { Order = ViewBag.Date }, null)</th>
        <th>@Html.ActionLink(@ResourceView.Catégorie, "DerniersProduits", "Account", new { Order = ViewBag.Categorie }, null)</th>
        <th>@Html.ActionLink("Photo", "DerniersProduits", "Account", new { Order = ViewBag.Photo }, null)</th>
        <th>@Html.ActionLink("Piece", "DerniersProduits", "Account", new { Order = ViewBag.Piece }, null)</th>
        <th>@Html.ActionLink(@ResourceView.IdMembre, "DerniersProduits", "Account", new { Order = ViewBag.Idmembre }, null)</th>
        <th>@Html.ActionLink(@ResourceView.Nouveau, "DerniersProduits", "Account", new { Order = ViewBag.Nouveau }, null)</th>
        <th>@Html.ActionLink(@ResourceView.EnVent, "DerniersProduits", "Account", new { Order = ViewBag.EnVente }, null)</th>
        <th>@Html.ActionLink(@ResourceView.PrixDepart, "DerniersProduits", "Account", new { Order = ViewBag.PrixDepart }, null)</th>
    </tr>
    @{ if (ViewBag.Objets != null)
        {

            try
            {

                foreach (Objet m in ViewBag.Objets)
                {
                    <tr>
                        <td>
                            @m.Id
                        </td>
                        <td>
                            @m.Nom
                        </td>
                        <td>
                            @m.Description
                        </td>
                        <td>
                            @String.Format("{0:d/M/yyyy}", @m.DateInscri);
                        </td>
                        <td>
                            @m.IdCategorie
                        </td>
                        <td>
                            @m.Photo
                        </td>
                        <td>
                            @m.Piece
                        </td>
                        <td>
                            @m.IdMembre
                        </td>
                        <td>
                            @m.Nouveau
                        </td>
                        <td>
                            @m.EnVent
                        </td>
                        <td>
                            @m.PrixDepart
                        </td>
                      
                            <td>
                                @Html.ActionLink(@ResourceView.Editer, "Edit", "Account", new { Id = m.Id }, null)
                            </td>
                            <td>
                                @Html.ActionLink(@ResourceView.Supprimer, "DeleteUser", "Account", new { Id = m.Id }, null)
                            </td>
                       
                    </tr>
                }

            }
            catch { }
        }
    }
</table>

