@model IEnumerable<Enchere.Models.Objet>
@using Enchere.Ressource
@{
    ViewBag.Title = "gestionObjetMembre";
}

@{
    List<SelectListItem> list = new List<SelectListItem>();
    list.Add(new SelectListItem { Text = "Tous les categories", Value = "none" });
    foreach (var item in ViewBag.listCateg)
    {
        if (item.Id == ViewBag.Selected)
        {
            list.Add(new SelectListItem { Text = item.Nom, Value = item.Id, Selected = true });
        }
        else
        {
            list.Add(new SelectListItem { Text = item.Nom, Value = item.Id });
        }
    }
}

<h2>Mes objets</h2>

<p>
    @Html.ActionLink(@ResourceView.Create, "Create", "Objet")
</p>
<table class="table table-striped">
    <tr>
        <th>
            <!--a href="#" onclick="orderBy('@Html.DisplayNameFor(model => model.Nom)')">@Html.DisplayNameFor(model => model.Nom)</a>    -->
            @ResourceView.nom2
        </th>
        <th>
           Description
        </th>
        <th>
            @ResourceView.Inscription
        </th>
        <th>
            @Html.DropDownList("Categorie", list, new { @onchange = "objetCategorie(this.value)" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Piece)
        </th>
        <th>
            @ResourceView.EnVent
        </th>
        <th>
            @ResourceView.PrixDepart $
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInscri)
            </td>
            <td>
                @Html.DisplayFor(model => item.IdCategorie)
            </td>
            <td>
                @if (item.Photo != null)
                {
                    <img class="card-img-top float-left" src="~/images/@Html.DisplayFor(modelItem => item.Photo)" alt="Card image cap" width=50 height=30>
                }
                else
                {
                    <p>Non</p>
                }
            </td>
            <td>
                @if (item.Piece != null)
                {
                    <a href="@Url.Content("~/pieces/" + @Html.DisplayFor(modelItem => item.Piece))" title="telecharger la piece jointe">@Html.DisplayFor(modelItem => item.Piece)</a>
                }
                else
                {
                    <p>Non</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnVent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixDepart)
            </td>
            <td>
                @{
                    if (!item.EnVent)
                    {
                        @Html.ActionLink(@ResourceView.Nouvelenchere, "MettreEnvente", "Enchere", new { idObjet = item.Id, idVendeur = ViewBag.IdVendeur, vente = true }, null) @:|
                        @Html.ActionLink(@ResourceView.EditObjet, "Edit", "Objet", new { id = item.Id }, null)
                    }
                        }

            </td>
        </tr>
                    }

</table>

@section MyOtherJavascript {
    <script type="text/javascript">
        function objetCategorie(id) {
            window.location.href = "/Objet/gestionObjetMembre?idCateg=" + id;
        }

        function orderBy(ordre) {
            window.location.href = "/Objet/gestionObjetMembre?ordre=" + ordre;
        }
    </script>
}
