@model IEnumerable<Enchere.Models.Objet>
@using Enchere.Ressource
@{
    ViewBag.Title = "ObjetsEnVenteSansAuth";
}

<h2>Mes Objets En Vente</h2>

<p>
    @Html.ActionLink(@ResourceView.Accueil, "Index", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateInscri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCategorie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Piece)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdMembre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nouveau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnVent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixDepart)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInscri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Piece)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMembre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nouveau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnVent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixDepart)
            </td>

        </tr>
    }

</table>
