@model IEnumerable<Enchere.Models.EnchereViewModel>
@using Enchere.Ressource
@{
    ViewBag.Title = "gestionEnchereMembre";
}

<h2>@ViewBag.option</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateInscri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCategorie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Piece)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixDepart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixActuel)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInscri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategorie)
            </td>
            <td>
                @if (item.Photo != null)
                {
                    <img class="card-img-top float-left" src="~/images/@Html.DisplayFor(modelItem => item.Photo)" alt="Card image cap" width=50 height=30>
                }
                else
                {
                    <p>Non</p>
                }
            </td>
            <td>
                @if (item.Piece != null)
                {
                    <a href="@Url.Content("~/pieces/@Html.DisplayFor(modelItem => item.Piece)")" title=@ResourceView.Telechager>@Html.DisplayFor(modelItem => item.Piece)</a>
                }
                else
                {
                    <p>Non</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixDepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixActuel)
            </td>
            <td>
                @if (item.Etat == 1 || item.Etat == 4)
                {
                    @Html.ActionLink("Nouvelle Evaluation", "Create", "Evaluation", new { idEnchere = item.IdEnchere, op = "acheteur", rtnUrl = HttpContext.Current.Request.RawUrl }, null)
                }
                else if (item.Etat == 3 || item.Etat == 5)
                {
                    @Html.ActionLink("Voir Evaluation", "List", "Evaluation", new { idEnchere = item.IdEnchere, op = "acheteur", rtnUrl = HttpContext.Current.Request.RawUrl }, null)
                }
            </td>
        </tr>
    }

</table>
