@model IEnumerable<Enchere.Models.EnchereViewModel>
@using Enchere.Ressource

@{
    ViewBag.Title = "ListObjetVenduSouPeu";
}

<h2>Liste Objets Vendus Sous Peu</h2>

<p>
    @Html.ActionLink(@ResourceView.Imprimerrapport, "PrintRapprt3", "Enchere")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label(@ResourceView.nom2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.Label(@ResourceView.DateFin)
        </th>
        <th>
            @Html.Label(@ResourceView.Catégorie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Piece)
        </th>
        <th>
            @Html.Label(@ResourceView.IdMembre)
        </th>
        <th>
            @Html.Label(@ResourceView.Nouveau)
        </th>
        <th>
            @Html.Label(@ResourceView.EnVent)
        </th>
        <th>
            @Html.Label(@ResourceView.PrixDepart)
        </th>
        <th>
            @Html.Label(@ResourceView.PrixActuel)
        </th>
        <th>
            @Html.Label(@ResourceView.Enchere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etat)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInscri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Piece)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMembre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nouveau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnVent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixDepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixActuel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEnchere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etat)
            </td>

        </tr>
    }

</table>
