@using System.Globalization;
@using System.Linq;
@using System.Threading;
@using Enchere.Ressource
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <title>Login</title>
</head>
<body>
    <div>
        @if (ViewBag.error != "")
        {
            <div class="alert alert-danger" role="alert">
                <b>@ResourceView.autherror</b> @ResourceView.autherror2
            </div>
        }
        <br /> <br />
        @using (Html.BeginForm("Login", "Account"))
        {
            <div class="form-group">
                @*@Html.Label("Nom d'utilisateur")*@
                @*@wikiPr.Ressource.ResourceView.Courriel*@
                @Html.Label(@ResourceView.Courriel)
                @Html.TextBox("username")

            </div>
            <div class="form-group">
                @*@Html.Label("Mot de passe")*@
                @*@wikiPr.Ressource.ResourceView.MDP*@
                @Html.Label(@ResourceView.MDP) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.Password("password")
            </div>
            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
            <input type="submit" value=@ResourceView.Connexion />
        }
    </div>
    <br /><br />
    @Html.ActionLink(@ResourceView.Accueil, "Index", "Home")
</body>
</html>
